{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ drupal_view('country_report_overview','block_1', view.title) }}
<div class="our-global-report-block">
  <div class="container">
    <div class="wid-scroll-content">
      {% if country_name(view.title)  %}
        <h1>{{ country_name(view.title) }}</h1>
      {% endif %}
      {% for row in rows %}
        {% set entity = row.content['#row']._entity %}
        {% set title = entity.title.value %}
        {% set report_created_date = entity.created.value | date('m/d/y') %}
        <h2>{{ title }}</h2>
        <div>
          {% set text = entity.body.summary |render|striptags %}
          {% autoescape false %}{{ text|length > 80 ? text|slice(0, 80) : text }}{% endautoescape %}
          <span>{{ report_created_date }}</span>
        </div>
        {% set news_image_url = file_url(entity.field_report_image.entity.field_media_image.entity.fileuri | image_style('large')) %}
        {% set news_image_alt = entity.field_report_image.entity.field_media_image.alt %}
        <img src="{{ news_image_url }}" alt="{{ news_image_alt }}"/>
        {% if entity.field_attachment_type.value == 'Document' %}
          <div>
            {% set fileExtension = media_file_type(entity.field_report_document.value.0.target_id, 'field_media_document') %}
            <img src="/{{ directory }}/images/icons/{{ fileExtension }}.svg" alt={{ fileExtension }}>
            {% set document_url = media_file_url(entity.field_report_document.value.0.target_id, 'field_media_document') %}
            <a class="download-button" href="{{ document_url }}">Download</a>
          </div>
        {% elseif entity.field_attachment_type.value == 'Link' %}
          <div>
            <a href="{{ entity.field_report_link[0].uri }}" target="_blank">
              {{ entity.field_report_link[0].title }}
              <i class="fa fa-external-link"></i>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
