{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set active_countries = load_vocabulary_term('country_report_overview') %}

{% for key, row in rows %}
    {% set row_classes = [
        default_row_class ? 'views-row',
    ] %}
    {% set bg_img = file_url(
        get_file_field_uri(
        row.content['#row']._entity,
        'field_overview_report_bg_img'
        )
        ) %}
    {% set country_report_iso = row.content['#row']._entity.field_report_overview_country.value %}
    {% set country_title = '' %}
    <div class="our-single-report-header" {{ row.attributes.addClass(row_classes) }}>
        {% if active_countries %}
            <div class="our-single-report-header-nav">
                {% for country in active_countries %}
                    {% set country_iso_code = load_tax_term(country.id).field_report_overview_country.value %}
                    {% if country_iso_code ==  country_report_iso %}
                        {% set country_title = country.name %}
                    {% endif %}
                    <div class="our-single-report-header-nav-item">
                        <a
                                href="{{ path('view.country_report.page_1', {'country':  country_iso_code|lower }) }}">
                            {{ country.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="our-single-report-header-card">
            <div class="container">
                <div class="country-report-wrap">
                    <div class="country-report-cover-image">
                        <div>
                            {{ view.style_plugin.getField(key, 'field_report_overview_cover') }}
                        </div>
                    </div>
                    <div class="country-report-description">
                        <div>
                            <div class="country-report-description-title" data-id="{{ country_title }}">
                                {{ country_title }}
                            </div>
                            <div class="country-report-description-body">
                                {{ view.style_plugin.getField(key, 'description__value') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<script>
  let page_title = document.querySelector('.country-report-description-title').dataset.id;
  document.title = page_title + ' | Women in Displacement';
</script>
