{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class
]
%}
{%
  set contentClasses = [
  'content'
]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-sm-6 our-method-content">
      <div class="our-method container">
        {{ title_prefix }}
        {% if label %}
          <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
          <div{{ content_attributes.addClass(contentClasses) }}>
            <div>{{content.body}}</div>
          </div>
        {% endblock %}
      </div>
    </div>
    {% set alt_text = content.field_our_method_media[0]['#media'].thumbnail[0].alt %}
    {% set image_url = media_file_url(content.field_our_method_media[0]['#media'].mid[0].value) %}
    <div class="col-sm-6 our-method-container">
      <img src="{{image_url}}" alt="{{alt_text}}" class="our-method-image" />
    </div>
  </div>
</div>
