{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class
]
%}
{%
  set contentClasses = [
  'content'
]
%}
<div class="container">
  <div {{ attributes.addClass(classes) }}>
    <div class="row our-method-container">
      {% set alt_text = content.field_our_method_media[0]['#media'].thumbnail[0].alt %}
      {% set image_url = media_file_url(content.field_our_method_media[0]['#media'].mid[0].value) %}
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 px-0">
        <img src="{{image_url}}" alt="{{alt_text}}" class="method-image-fluid w-100" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 our-method">
        <div class="our-method my-4">
          {{ title_prefix }}
          {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
          {% block content %}
            <div{{ content_attributes.addClass(contentClasses) }}>
              <div>{{content.body}}</div>
            </div>
          {% endblock %}
          <span class="arrow-btn">More<i class="fa fa-arrow-right"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
