{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="container">
  <div class="latest-news-features-block">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 col-xl-8 featured-news">
        <div class="row">
          {% for single_feature_news in feature_news %}
          {% set newsTitle = single_feature_news.title[0].value %}
          {% set image_url = media_file_url(single_feature_news.field_featured_media[0].target_id) %}
          {% if loop.first %}
          <div class="col-md-3">
            <div class="banner-wrapper banner-1">
              <div class="banner-image">
                <img src="{{ image_url }}" alt="feature-news"/>
              </div>
              <div class="banner-desc">
                <p>
                  <a href="#">{{ newsTitle|length > 30 ? newsTitle|slice(0, 30) ~ '...' : newsTitle }}</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              {% endif %}
              {% if loop.index == 2 %}
                <div class="col-md-8">
                  <div class="banner-wrapper banner-2">
                    <div class="banner-image">
                      <img src="{{ image_url }}" alt="feature-news"/>
                    </div>
                    <div class="banner-desc">
                      <p>
                        <a href="#">{{ newsTitle|length > 95 ? newsTitle|slice(0, 95) ~ '...' : newsTitle }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if loop.index == 3 %}
                <div class="col-md-4">
                  <div class="banner-wrapper banner-3">
                    <div class="banner-image">
                      <img src="{{ image_url }}" alt="feature-news"/>
                    </div>
                    <div class="banner-desc">
                      <p>
                        <a href="#">{{ newsTitle|length > 30 ? newsTitle|slice(0, 30) ~ '...' : newsTitle }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if loop.index == 4 %}
                <div class="col-md-4">
                  <div class="banner-wrapper banner-4">
                    <div class="banner-image">
                      <img src="{{ image_url }}" alt="feature-news"/>
                    </div>
                    <div class="banner-desc">
                      <p>
                        <a href="#">{{ newsTitle|length > 35 ? newsTitle|slice(0, 35) ~ '...' : newsTitle }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if loop.last %}
                <div class="col-md-8">
                  <div class="banner-wrapper banner-5">
                    <div class="banner-image">
                      <img src="{{ image_url }}" alt="feature-news"/>
                    </div>
                    <div class="banner-desc">
                      <p>
                        <a href="#">{{ newsTitle|length > 120 ? newsTitle|slice(0, 120) ~ '...' : newsTitle }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 col-xl-4 latest-news">
        <div class="card-news">
          <div class="card-content">
            <h2 class="card-title">Latest News</h2>
            <div class="news-container">
              {% for single_news in news %}
                <div class="news-wrapper">
                  <div class="news-image">
                    {% set image_url = media_file_url(single_news.field_featured_media[0].target_id) %}
                    <img src="{{ image_url }}" alt="news">
                  </div>
                  <div class="news-content">
                    <h3 class="news-title">
                      {% set title = single_news.title[0].value %}
                      {{ title|length > 40 ? title|slice(0, 40) ~ '...' : title }}
                    </h3>
                    {% set text = single_news.body[0].value |render|striptags %}
                    <p class="news-desc">
                      {% autoescape false %}
                        {{ text|length > 40 ? text|slice(0, 40) : text }}
                      {% endautoescape %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <a href="/news"><span class="btn-white">More<i class="fa fa-arrow-right"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
