{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class
] %}
{% set contentClasses = [
  'content'
] %}

{% set our_country_report_block_id = 12 %}
{% set our_country_report_description = drupal_field('body', 'block_content', our_country_report_block_id)['#items'].0.value %}
{% set our_country_report_bg_img = drupal_field('field_our_country_report_bg_img', 'block_content', our_country_report_block_id) %}
{% set our_country_report_bg_img_url = file_url(our_country_report_bg_img['#items'].1.entity.uri.value) %}
<div class="global-report-header-background">
  {% set active_countries = load_vocabulary_term('country_report_overview') %}
  {% if active_countries %}
    <div class="global-report-country-nav">
      <a
        href="#" class="global-button active">
        Global Report
      </a>
      <div class="dropdown">
        <button class="dropbtn"><a href"#">select country <i class="fa fa-angle-down"></i></a></button>
        <div class="dropdown-content">
        {% for country in active_countries %}
          {% set country_iso_code = load_tax_term(country.id).field_report_overview_country.value %}
          <div class="global-report-country-nav-item">
              <a
              href="{{ path('view.country_report.page_1', {'country':  country_iso_code|lower }) }}">
              {{ country.name }}
            </a>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="global-report-header-card col-sm-10">
    <h4 class="global-report-header-card-title">
      {{ drupal_entity('block_content', our_country_report_block_id)['#block_content'].info.value }}
    </h4>
    <div class="global-report-header-card-description">
      {% autoescape false %}{{ our_country_report_description }}{% endautoescape %}
    </div>
  </div>
</div>
<div class="baseline-endline-wrapper">
  <div class="container my-5" {{ attributes.addClass(classes) }}>
    <div class="baseline-endline-content">
      <div class="baseline-endline-content-title">Global Reports</div>
      <div class="row my-5 row-eq-height">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="resource-card p-2">
            {% block content %}
              <div{{ content_attributes.addClass(contentClasses) }}>
                {% if content.field_baseline_cover_image != '/' %}
                  <img
                    class="card-img-top resource-image"
                    src="{{ file_url(content.field_baseline_cover_image.0['#item'].entity.uri.value | image_style('large')) }}"
                    alt="{{ content.field_baseline_cover_image.0['#item'].alt }}">
                {% endif %}
                {{ title_prefix }}
                {% if label %}
                  <h4
                    class="resource-title" {{ title_attributes }}>{{ content['#block_content'].info.value }}</h4>
                {% endif %}
                {{ title_suffix }}
                <div class="resource-description"> {{ content.body }} </div>
              </div>
            {% endblock %}
            <div class="resource-file-content">
              <div class="col-sm-9">
                {% set filename = content.field_baseline_document[0]['#media'].field_media_document.entity.filename.value %}
                {% set fileCreationDate = content.field_baseline_document[0]['#media'].field_media_document.entity.created.value | date('m/d/y') %}
                <h6 class="resource-file-name">{{ filename }}</h6>
                <div class="resource-file-date-content">
                  <div><i class="calender-icon fa fa-calendar-o"></i></div>
                  <div class="pl-1">{{ fileCreationDate }}</div>
                </div>
              </div>
              <div class="col-sm-3">
                {% set fileExtension = media_file_type(content.field_baseline_document['#items'][0].target_id, 'field_media_document') %}
                <a href="{{ document_url }}" download><i class="fa fa-download"></i></a>
                {% set document_url = file_url(content.field_baseline_document[0]['#media'].field_media_document.entity.uri.value) %}
                <a class="download-button" href="{{ document_url }}" download>
                  Download
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="resource-card p-2">
            {% set endline_block_id = 14 %}
            {% set description = drupal_field('body', 'block_content', endline_block_id)['#items'].0.value|render|striptags %}
            {% set endline_cover_image = drupal_field('field_endline_cover_image', 'block_content', endline_block_id) %}
            {% if endline_cover_image %}
              {% set endline_cover_image_url = file_url(endline_cover_image['#items'].entity.uri.value | image_style('large')) %}
              {% set endline_cover_image_alt = endline_cover_image['#items'].0.value.alt %}
              <img class="card-img-top resource-image" src="{{ endline_cover_image_url }}"
                   alt="{{ endline_cover_image_alt }}">
            {% endif %}
            <h4 class="resource-title" {{ title_attributes }}>
              {{ drupal_entity('block_content', endline_block_id)['#block_content'].info.value }}
            </h4>
            <div class="resource-description"> {{ description }} </div>
            <div class="resource-file-content">
              <div class="col-sm-9">
                {% set field_endline_document = drupal_field('field_endline_document', 'block_content', endline_block_id) %}
                {% set endline_document_created_date = field_endline_document['#items'].entity.created.value | date('m/d/y') %}
                {% set endline_document_filename = field_endline_document['#items'].entity.field_media_document.entity.filename.value %}
                <h6 class="resource-file-name">{{ endline_document_filename }}</h6>
                <div class="resource-file-date-content">
                  <div><i class="calender-icon fa fa-calendar-o"></i></div>
                  <div class="pl-1">{{ endline_document_created_date }}</div>
                </div>
              </div>
              <div class="col-sm-3">
                {% set endline_document_ext = media_file_type(field_endline_document['#items'][0].target_id, 'field_media_document') %}
                <a href="{{ endline_document_url }}" download><i class="fa fa-download"></i></a>
                {% set endline_document_url = file_url(field_endline_document[0]['#media'].field_media_document.entity.uri.value) %}
                <a class="download-button" href="{{ endline_document_url }}" download>Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% set global_reports = drupal_view_result('global_reports','block_1') %}
      {% if global_reports is not empty %}
        {% for globalReport in global_reports %}
          {% set globalReportEntity = globalReport._entity %}
          {% set globalReportTitle = globalReportEntity.title.value %}
          {% set globalReportLink = path('entity.node.canonical', {'node': globalReportEntity.nid.value}) %}
          {% set globalReportDescription = globalReportEntity.body.value %}
          {% set globalCoverImage = file_url(globalReportEntity.field_report_image.entity.field_media_image.entity.fileuri) %}
          {% set globalCoverImageAlt = globalReportEntity.field_report_image.entity.field_media_image.alt %}
          {% set globalReportCreatedDate = globalReportEntity.created.value | date('m/d/y') %}
          {% set documentFileExtension = '' %}
          {% set globalReportDocumentTitle = '' %}
          {% set documentFileSize = '' %}
          {% set globalReportDocumentTitle = '' %}
          {% if globalReportEntity.field_attachment_type.value == 'Document' %}
            {% set globalReportDocumentTitle = globalReportEntity.field_report_doc_description.value %}
            {% set documentFileExtension = media_file_type(globalReportEntity.field_report_document.value.0.target_id, 'field_media_document') %}
            {% set documentFileSize = globalReportEntity.field_report_document.entity.field_media_document.entity.filesize.value / 1024 %}
            {% set document_url = media_file_url(globalReportEntity.field_report_document.value.0.target_id, 'field_media_document') %}
          {% elseif globalReportEntity.field_attachment_type.value == 'Link' %}
            {% set globalReportDocumentTitle = globalReportEntity.field_report_link[0].title %}
            {% set document_url = globalReportEntity.field_report_link[0].uri %}
          {% endif %}
          <div class="global-report-row-wrapper">
            <div class="global-report-row row">
              {% if globalCoverImage != '/' %}
                <img class="col-sm-12 col-md-12 col-lg-5 w-100 p-0 image-container"
                     src="{{ globalCoverImage }}" alt="globalCoverImageAlt"/>
                <div class="col-sm-12 col-md-12 col-lg-7 global-report-row-content p-3">
              {% else %}
                <div class="col-sm-12 col-md-12 col-lg-12 global-report-row-content p-3">
              {% endif %}
                <div>
                  <div class="global-report-row-title">
                    <a href="{{ globalReportLink }}">
                      {{ globalReportTitle }}
                    </a>
                  </div>
                  <div class="global-report-row-body">
                    {% autoescape false %}
                      {{ globalReportDescription }}
                    {% endautoescape %}
                  </div>
                </div>
                <div class="row file-info-container">
                  <div class="col-9">
                    <div class="file-info-title">
                      {{ globalReportDocumentTitle }}
                    </div>
                    <div>
                      {% if documentFileSize %}
                        <span  class="pr-3">
                        <i class="fa fa-file-text-o pr-1" aria-hidden="true"></i>
                        {{ documentFileSize|round(1, 'ceil') }}KB
                      </span>
                      {% endif %}
                      <span>
                        {{ globalReportCreatedDate }}
                      </span>
                    </div>
                  </div>
                  <div class="col-3 button-container">
                    {% if documentFileExtension %}
                      <a href="{{ document_url }}" target="_blank" download><i class="fa fa-download"></i></a>
                    {% else %}
                      <span>
                        <a href="{{ document_url }}" target="_blank" download><i class="fa fa-external-link fa-2x"></i></a>
                      </span>
                    {% endif %}
                    <a class="download-button" href="{{ document_url }}" target="_blank" download>
                      Download
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
