{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class
] %}
{% set contentClasses = [
  'content'
] %}

{% set our_country_report_block_id = 12 %}
{% set our_country_report_description = drupal_field('body', 'block_content', our_country_report_block_id)['#items'].0.value %}
{% set our_country_report_bg_img = drupal_field('field_our_country_report_bg_img', 'block_content', our_country_report_block_id) %}
{% set our_country_report_bg_img_url = file_url(our_country_report_bg_img['#items'].1.entity.uri.value) %}
<div class="global-report-header-background" style="background-image: url('{{ our_country_report_bg_img_url }}');">
  {% set active_countries = load_vocabulary_term('country_report_overview') %}
  {% if active_countries %}
    <div class="global-report-country-nav">
      {% for country in active_countries %}
        {% set country_iso_code = load_tax_term(country.id).field_report_overview_country.value %}
        <div class="global-report-country-nav-item">
          <a
            href="{{ path('view.country_report.page_1', {'country':  country_iso_code|lower }) }}">
            {{ country.name }}
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="global-report-header-card col-sm-10">
    <h4 class="global-report-header-card-title">
      {{ drupal_entity('block_content', our_country_report_block_id)['#block_content'].info.value }}
    </h4>
    <div class="global-report-header-card-description">
      {% autoescape false %}{{ our_country_report_description }}{% endautoescape %}
    </div>
  </div>
</div>
<hr class="baseline-hr"/>
<div class="baseline-endline-wrapper">
  <div class="container my-5" {{ attributes.addClass(classes) }}>
    <div class="baseline-endline-content">
      <div class="baseline-endline-content-title">Global Reports</div>
      <div class="row px-5 my-5 row-eq-height">
        <div class="col-sm-12 col-md-12 col-lg-6 mb-1">
          <div class="resource-card p-3">
            {% block content %}
              <div{{ content_attributes.addClass(contentClasses) }}>
                {% if content.field_baseline_cover_image %}
                  <img
                    class="card-img-top resource-image"
                    src="{{ file_url(content.field_baseline_cover_image.0['#item'].entity.uri.value | image_style('large')) }}"
                    alt="{{ content.field_baseline_cover_image.0['#item'].alt }}">
                {% endif %}
                {{ title_prefix }}
                {% if label %}
                  <h4
                    class="resource-title py-2 px-4" {{ title_attributes }}>{{ content['#block_content'].info.value }}</h4>
                {% endif %}
                {{ title_suffix }}
                <div class="resource-description px-3"> {{ content.body }} </div>
              </div>
            {% endblock %}
            <div class="resource-file-content mx-4 my-3 px-1 py-2">
              <div class="col-sm-7">
                {% set filename = content.field_baseline_document[0]['#media'].field_media_document.entity.filename.value %}
                {% set fileCreationDate = content.field_baseline_document[0]['#media'].field_media_document.entity.created.value | date('m/d/y') %}
                <h6 class="resource-file-name">{{ filename }}</h6>
                <div class="resource-file-date-content">
                  <div><i class="calender-icon fa fa-calendar-o"></i></div>
                  <div class="pl-3">{{ fileCreationDate }}</div>
                </div>
              </div>
              <div class="col-sm-5">
                {% set fileExtension = media_file_type(content.field_baseline_document['#items'][0].target_id, 'field_media_document') %}
                <img class="extension-icon mb-1 mr-3" src="/{{ directory }}/images/icons/{{ fileExtension }}.svg"
                    alt={{ fileExtension }}/>
                {% set document_url = file_url(content.field_baseline_document[0]['#media'].field_media_document.entity.uri.value) %}
                <a class="download-button" href="{{ document_url }}" download>
                  Download
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-1">
          <div class="resource-card p-3">
            {% set endline_block_id = 14 %}
            {% set description = drupal_field('body', 'block_content', endline_block_id)['#items'].0.value|render|striptags %}
            {% set endline_cover_image = drupal_field('field_endline_cover_image', 'block_content', endline_block_id) %}
            {% if endline_cover_image %}
              {% set endline_cover_image_url = file_url(endline_cover_image['#items'].entity.uri.value | image_style('large')) %}
              {% set endline_cover_image_alt = endline_cover_image['#items'].0.value.alt %}
              <img class="card-img-top resource-image" src="{{ endline_cover_image_url }}"
                  alt="{{ endline_cover_image_alt }}">
            {% endif %}
            <h4 class="resource-title py-2 px-4" {{ title_attributes }}>
              {{ drupal_entity('block_content', endline_block_id)['#block_content'].info.value }}
            </h4>
            <div class="resource-description px-3"> {{ description }} </div>
            <div class="resource-file-content mx-4 my-3 px-1 py-2">
              <div class="col-sm-7">
                {% set field_endline_document = drupal_field('field_endline_document', 'block_content', endline_block_id) %}
                {% set endline_document_created_date = field_endline_document['#items'].entity.created.value | date('m/d/y') %}
                {% set endline_document_filename = field_endline_document['#items'].entity.field_media_document.entity.filename.value %}
                <h6 class="resource-file-name">{{ endline_document_filename }}</h6>
                <div class="resource-file-date-content">
                  <div><i class="calender-icon fa fa-calendar-o"></i></div>
                  <div class="pl-3">{{ endline_document_created_date }}</div>
                </div>
              </div>
              <div class="col-sm-5">
                {% set endline_document_ext = media_file_type(field_endline_document['#items'][0].target_id, 'field_media_document') %}
                <img class="extension-icon mb-1 mr-3" src="/{{ directory }}/images/icons/{{ endline_document_ext }}.svg"
                    alt={{ endline_document_ext }}/>
                {% set endline_document_url = file_url(field_endline_document[0]['#media'].field_media_document.entity.uri.value) %}
                <a class="download-button" href="{{ endline_document_url }}" download>Downlaod</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="global-report-row-wrapper pt-5">
        <div class="global-report-row row mb-5">
          <img class="col-sm-12 col-md-12 col-lg-5 w-100 p-0 image-container" src="https://cdn.zeplin.io/5f55bf9fe187128871c4e02f/assets/B4F156DB-2B1D-46F5-99A5-118933A8ACAF.png"/>
          <div class="col-sm-12 col-md-12 col-lg-7 global-report-row-content p-5">
            <div class="global-report-row-title">NRC - WOMEN’S PARTICIPATION; THE ROLE OF OLDER WOMEN: FINDINGS AND RECOMMENDATIONS FOR PRACTITIONERS AND COMMUNITY (PRESENTATION AND VIDEO)</div>
            <div class="global-report-row-body py-3">These two sets of resources (video and presentation) are designed to disseminate the main findings and recommendations from the research on Women’s Participation: The Role of Older Women, conducted in 2019 by the Norwegian Refugee Council (NRC), with support from the International Organisation for Migration (IOM). The first set is addressed to the community and research informants, while the second set is addressed to CCCM practitioners and humanitarian workers. The research included field work in four locations (Afghanistan, Iraq, Kenya and Tanzania) and covered a range of displacement settings and different types of Camp Management interventions. The full report and the summary report of this research can be found in the ‘Reports’ section of this platform. I you wish to have the presentation in pwpt. format or if you have any question, please contact: womenindisplacement@iom.int, anna.hirschholland@gmail.com and giovanna.federici@nrc.no.</div>
            <div class="row m-2 file-info-container py-2 px-3">
              <div class="col-sm-10">
                <div class="file-info-title">Findings and recommendations for practitioners and community</div>
                <div>
                  <span class="pr-2"><i class="fa fa-calendar-o pr-2" aria-hidden="true"></i>05/31/18</span>
                  <span><i class="fa fa-file-text-o pr-2" aria-hidden="true"></i>05/31/18</span>
                </div>
              </div>
              <div class="col-sm-2 button-container">
                <img class="extension-icon mb-2" src="/{{ directory }}/images/icons/pdf.svg"/>
                <a class="download-button" href="#">
                  Download
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
