{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'about-us-wrapper'
] %}
{% set contentClasses = [
  'content'
] %}
<div {{ attributes.addClass(classes) }}>
  <div class="about-header-block">
    {% block content %}
      {% if content.field_about_us_background_image %}
        {% set our_country_report_background_image = file_url(content.field_about_us_background_image.0['#item'].entity.uri.value) %}
        <div class="about-us-background-image" style="background-image: url('{{ our_country_report_background_image }}');">
          <h1 class="about-us-header-title-button">About</h1>
          {{ title_prefix }}
          <div class="about-us-header-card">
            {% if label %}
              <h2 class="about-us-header-card-title" {{ title_attributes }}>{{ label }}</h2>
            {% endif %}
            <div class="about-us-header-card-description">
              {{ content.body }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </div>
</div>
