{% set classes = [
  'block',
  'our-partners-block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}
<div{{ attributes.addClass(classes) }} data-title="{{ label }}">
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      <div class="container">
        {{ title_prefix }}
        {% if label %}
          <h2 class="mb-5" {{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        <div class="about-our-partners">
          {% set results = content['#view'].result %}
          {% for result in results %}
            {% set partner = result._entity %}
            {% set partner_title = partner.title.value %}
            {% set partner_description = partner.body.value %}
            {% set partner_link = partner.field_url[0].uri %}
            {% set partner_cover_image = file_url(partner.field_partner_cover_image.entity.uri.value | image_style('hd')) %}
            {% set partner_cover_image_alt = partner.field_partner_cover_image.alt %}
            {% set partner_logo = media_file_url(partner.field_partner_image.value.0.target_id) %}
            {% set partner_logo_alt = partner.field_partner_image.entity.field_media_image.value.0.alt %}
            {% set partner_id = 'partner-' ~ partner.nid.value %}
            <div class="partner-wrapper row" id="{{ partner_id }}">
              <div class="col-sm-12 col-md-12 col-lg-6 info-container p-5">
                <div class="text-info-content">
                  <div class="partner-title pb-4">
                    {{ partner_title }}
                  </div>
                  <div class="partner-description">
                    {% autoescape false %}
                      {{ partner_description }}
                    {% endautoescape %}
                  </div>
                </div>
                <div class="partner-website-content">
                  <span>
                    <a href={{ partner_link }} target="_blank">
                      Visit our partner website <i class="ion-android-arrow-forward"></i>
                    </a>
                  </span>
                </div>
              </div>
              <div class="cover-image-container p-0 col-sm-12 col-md-12 col-lg-6">
                <div class="partner-logo">
                  <img src="{{ partner_logo }}" alt="{{ partner_logo_alt }}">
                </div>
                <img class="w-100" src="{{ partner_cover_image }}" alt="{{ partner_cover_image_alt }}" />
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
