{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class
] %}
{% set contentClasses = [
  'content'
] %}

{% set toolkitPhaseUrl = [
  {'url': '/toolkit/inception-phase'},
  {'url': '/toolkit/project-design'},
  {'url':'/toolkit/project-implementation'},
  {'url':'/toolkit/evidence-learning'}
] %}

<div class="toolkit-wrapper">
  <div {{ attributes.addClass(classes) }}>
    <div class="toolkit-purpose-container">
      <div class="container">
        <nav class="toolkit-nav">
          {% set vocabulary_trees = load_vocabulary_term('toolkit', 1) %}
          {% for vocabulary_tree in vocabulary_trees %}
            {% set loop_index = loop.index - 1 %}
            <a href="{{ attribute(toolkitPhaseUrl[loop_index], 'url') }}">{{ vocabulary_tree.name }}</a>
          {% endfor %}
        </nav>
        <div class="purpose-container">
          {{ title_prefix }}
          {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
          {% block content %}
            <div{{ content_attributes.addClass(contentClasses) }}>
              <div class="description">{{ content.body }}</div>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="approach-wrapper">
      <div class="container">
        <h2>Phased Approach</h2>
        <div class="approach-container">
          <div class="approach-steps">
            <div>
              <div class="approach-arrow-img">
                <img src="{{ directory }}/images/approach-step-diagram.svg" alt="approach-steps">
              </div>
              <ul>
                {% for vocabulary_tree in vocabulary_trees %}
                  <li class="step-card-{{ loop.index }}">
                    <div class="step-card">
                      <span class="step-number">{{ loop.index }}</span> <span
                              class="step-name">{{ vocabulary_tree.name }}</span>
                    </div>
                  </li>
                {% endfor %}
              </ul>
              <div class="choose-step">Choose a step</div>
            </div>
          </div>

          <div class="toolkit-steps-wrapper">
            <div>
              <div class="steps-card-wrapper">
                {% for vocabulary_tree in vocabulary_trees %}
                  {% set loop_index = loop.index - 1 %}
                  <div class="steps-card" id="card-{{ loop.index }}">
                    <div>
                      <div>
                        <h3>{{ loop.index }} . {{ vocabulary_tree.name }}</h3>
                        {% set taxonomy_term = load_tax_term(vocabulary_tree.id) %}
                        {% autoescape false %}
                          {% set text = taxonomy_term.description.value %}
                          {{ text }}
                        {% endautoescape %}
                      </div>
                    </div>
                    <a href="{{ attribute(toolkitPhaseUrl[loop_index], 'url') }}">
                      <i class="ion-android-arrow-forward"></i>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

