{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if logged_in %}
{% set inception_phase_workshop = inception_phase_workshop %}
<div class="toolkit-inception">
    <div class="toolkit-body-wrapper">
        <div class="container" {{ attributes.addClass(classes) }}>
            <div class="baseline-endline-content">
                <div class="baseline-endline-content-title">Workshop</div>
                {% for tax_id, workshops in inception_phase_workshop %}
                    {% set taxonomy_term = load_tax_term(tax_id) %}
                    {% set tax_term_cover_img = file_url(taxonomy_term.field_toolkit_img.entity.field_media_image.entity.fileuri) %}
                    {% set tax_term_cover_img_alt = taxonomy_term.field_toolkit_img.entity.field_media_image.alt %}
                    <div class="global-report-row-wrapper">
                        <div class="global-report-row">
                            {% if tax_term_cover_img != '/' %}
                                <div class="image-container">
                                    <div>
                                        <img src="{{ tax_term_cover_img }}"
                                             alt="{{ tax_term_cover_img_alt }}" />
                                    </div>
                                </div>
                            {% endif %}
                            <div class="global-report-row-content">
                                <div>
                                    <div class="global-report-row-title">{{ taxonomy_term.name.value }}</div>
                                    <div class="global-report-row-body">
                                        {% autoescape false %}
                                            {{ taxonomy_term.description.value }}
                                        {% endautoescape %}</div>
                                    {% for workshop in workshops %}
                                        {% set toolkitLink = path('entity.node.canonical', {'node': workshop.nid}) %}
                                        <div class="file-info-container">
                                            <div class="file-info-wrap">
                                                <div class="file-info-title">
                                                    <a href="{{ toolkitLink }}">{{ workshop.title }}</a>
                                                </div>
                                                <div class="file-info-desc">
                                                  <div>
                                                    {% autoescape false %}
                                                      {{ workshop.description }}
                                                    {% endautoescape %}
                                                  </div>
                                                </div>
                                                <div class="file-info-doc">
                                                    {% if workshop.document %}
                                                        {% set fileExtension = workshop.document.type %}
                                                        <span>
                                                            <img src="/{{ directory }}/images/icons/{{ fileExtension }}.svg" alt={{ fileExtension }}/>
                                                    {{ workshop.document.size }}KB</span>
                                                    {% endif %}
                                                    <span><i class="fa fa-calendar-o pr-1" aria-hidden="true"></i>{{ workshop.created_date }}</span>
                                                </div>
                                            </div>
                                            <div class="button-container">
                                                {% if workshop.document_link %}
                                                    <div>
                                                        <a href="{{ workshop.document_link }}" target="_blank"><i class="fa fa-download"></i></a>
                                                    </div>
                                                    <a class="download-button" href="{{ workshop.document_link }}" target="_blank">
                                                        Download
                                                    </a>
                                                {% elseif workshop.document %}
                                                  <div class="file--public" data-file-id="{{ workshop.document.fid }}"
                                                       data-entity-id="{{ workshop.nid }}"
                                                       data-entity-type="{{ workshop.entity_type }}">
                                                    <a href="{{ workshop.document.url }}">
                                                      <i class="fa fa-download"></i>
                                                    </a>
                                                  </div>
                                                  <span class="file--public" data-file-id="{{ workshop.document.fid }}"
                                                        data-entity-id="{{ workshop.nid }}"
                                                        data-entity-type="{{ workshop.entity_type }}">
                                                      <a class="download-button" href="{{ workshop.document.url }}">
                                                        Download
                                                      </a>
                                                  </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="our-key-container">
            <div class="container" {{ attributes.addClass(classes) }}>
                <h2 class="our-key-title">
                    {% trans %}
                        Training Resources
                    {% endtrans %}
                </h2>
                <div class="our-key-content">
                    <div class="our-key-group">
                        {% for tax_id, training_resources in inception_phase_training_resources %}
                            <div class="our-key-cards">
                                {% set taxonomy_term = load_tax_term(tax_id) %}
                                <h2 class="our-key-cards-title">{{ taxonomy_term.name.value }}</h2>
                                <div class="card-groups owl-carousel owl-theme">
                                    {% for training_resource in training_resources %}
                                        {% set training_resource_link = path('entity.node.canonical', {'node': training_resource.nid}) %}
                                        {% set training_resource_description = training_resource.description %}
                                        <div class="single-card">
                                            <div>
                                                {% if training_resource.cover_image %}
                                                  <img src="{{ training_resource.cover_image.url }}" alt="{{ training_resource.cover_image.alt }}">
                                                {% endif %}
                                                <a href="{{ training_resource_link }}" class="anchor">
                                                    <h2>{{ training_resource.title }}</h2>
                                                </a>
                                                {% autoescape false %}
                                                    <div>{{ training_resource_description }}</div>
                                                {% endautoescape %}
                                                <div class="download-section">
                                                    <span class="download">
                                                        {% if training_resource.document is not empty %}
                                                          <div class="file--public"
                                                               data-file-id="{{ training_resource.document.fid }}"
                                                               data-entity-id="{{ training_resource.nid }}"
                                                               data-entity-type="{{ training_resource.entity_type }}">
                                                            <a href="{{ training_resource.document.url }}">
                                                                <i class="fa fa-download"></i> Download</a>
                                                          </div>
                                                        {% elseif training_resource.document_link %}
                                                            <a href="{{ training_resource.document_link }}">
                                                                <i class="fa fa-download"></i> Download</a>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
