{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'contact-us'
] %}
{% set contentClasses = [
  'content'
] %}
<div {{ attributes.addClass(classes) }}>
  {% block content %}
    {% if content.field_contact_us_background %}
      {% set contact_us_background_image = file_url(content.field_contact_us_background.0['#item'].entity.uri.value) %}
      <div class="contact-us-background-image" style="background-image: url('{{ contact_us_background_image }}');">
        <div class="col-lg-9 p-5">
          <div class="row contact-container">
            <div class="col-lg-10 col-md-12 contact-info-content">
              {{ title_prefix }}
              {% if label %}
                <h2 class="contact-info-content-title" {{ title_attributes }}>{{ label }}</h2>
              {% endif %}
              {{ title_suffix }}
              <div class="contact-info-content-description">{{ content.body }}</div>
            </div>
            <div class="col-lg-2 col-md-12">
              <div class="row">
                {% if content.field_faq_link %}
                  <div class="col-lg-12 col-md-2 contact-link-container m-1">
                    <i class="contact-link-arrow-button fa fa-arrow-right"></i>
                    <a class="contact-block-social-media-link" href="{{ content.field_faq_link.0['#url'] }}" target="_blank">
                      <img class="contact-block-social-media-icon" src="{{ directory }}/images/icons/question.svg" alt={{ platform }}>
                      <span>
                        Ask us question
                      </span>
                    </a>
                  </div>
                {% endif %}
                {% set social_media_links = get_social_media_links('socialmedialinks') %}
                {% if social_media_links %}
                  {% for platform, platform_detail in social_media_links %}
                    <div class="col-lg-12 col-md-2 contact-link-container m-1">
                      <i class="contact-link-arrow-button fa fa-arrow-right"></i>
                      <a class="contact-block-social-media-link social-media-link-icon--{{ platform }}" href="{{ platform_detail.url }}"
                        target="{{ platform_detail.target }}">
                        <img class="contact-block-social-media-icon" src="{{ directory }}/images/icons/{{ platform }}.png" alt={{ platform }}>
                        <span class="social-media-platform-{{ platform }}">
                          {{ platform_detail.description }}
                        </span>
                      </a>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}
</div>
