{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'contact-us'
] %}
{% set contentClasses = [
  'content'
] %}
<div {{ attributes.addClass(classes) }}>
  {% block content %}
    {% set social_media_links = get_social_media_links('socialmedialinks') %}
      <div class="contact-us-background-image">
        <div class="container">
          {{ title_prefix }}
            {% if label %}
              <div class="contact-info-content-title" {{ title_attributes }}>{{ label }}</div>
            {% endif %}
          {{ title_suffix }}
          <div class="contact-container">
            <div class="contact-info-content">
              <div class="contact-info-content-description">Contact the Women’s Participation Project support team by sending us an email. We will try to answer your question as quickly as possible.</div>
              <a class="contact-link-container" href="{{ content.field_faq_link.0['#url'] }}" target="_blank">
                <i class="ion-help-circled"></i>
                <span>{{ content.field_faq_link.0['#title'] }}</span>
              </a>
              <a class="contact-link-container" href="{{ social_media_links["email"]["url"] }}" target="_blank">
                <i class="ion-ios-email"></i>
                <span>{{ social_media_links["email"]["description"] }}</span>
              </a>
            </div>
            <div class="contact-info-content">
              <div class="contact-info-content-description">Do you have a more detailed question about participation and inclusion, and would you like to benefit from the experience of other practitioners? Please visit our Community of Practice by clicking the Whatsapp button. </div>
              <a class="contact-link-container" href="{{ social_media_links["whatsapp"]["url"] }}" target="_blank">
                <i class="ion-social-whatsapp"></i>
                {% if social_media_links["whatsapp"] %}
                  <span>{{ social_media_links["whatsapp"]["description"] }}</span>
                {% else %}
                  <span>Our Community of Practice</span>
                {% endif %}
              </a>
            </div>
            <div class="contact-info-content">
              <div class="contact-info-content-description">Our social media channels provide you with the latest updates and visuals of the implementation of the Women’s Participation project in our various field locations.</div>
              <a class="contact-link-container" href="{{ social_media_links["instagram"]["url"] }}" target="_blank">
                <i class="ion-social-instagram-outline"></i>
                <span>{{ social_media_links["instagram"]["description"] }}</span>
              </a>
              <a class="contact-link-container" href="{{ social_media_links["twitter"]["url"] }}" target="_blank">
                <i class="ion-social-twitter"></i>
                <span>{{ social_media_links["twitter"]["description"] }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  {% endblock %}
</div>
