{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-faq'
] %}
{% set contentClasses = [
  'content'
] %}
<div {{ attributes.addClass(classes) }}>
  {% block content %}
    {% if content.field_faq_bg_img %}
      {% set faq_bg_img = file_url(content.field_faq_bg_img.0['#item'].entity.uri.value) %}
      <div class="faq-background-image" style="background-image: url('{{ faq_bg_img }}');">
        <div class="row">
          {{ title_prefix }}
          {% if label %}
            <h2 class="contact-info-content-title" {{ title_attributes }}>{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
          {{ content.body }}
          {% if content.field_faq_category %}
            <div class="faq-project-overview">
              <img src="{{ directory }}/images/icons/faq-project.svg" alt="faq-project-overview">
              <p>{{ content.field_faq_category.0['#title'] }}</p>
            </div>

            <div class="faq-methodology">
              <img src="{{ directory }}/images/icons/faq-project.svg" alt="faq-methodology">
              <p>{{ content.field_faq_category.1['#title'] }}</p>
            </div>
            <div class="faq-project-implementation">
              <img src="{{ directory }}/images/icons/faq-toolkit.svg" alt="faq-project-implementation">
              <p>{{ content.field_faq_category.2['#title'] }}</p>
            </div>
            <div class="faq-access-report">
              <img src="{{ directory }}/images/icons/faq-access-report.svg" alt="faq-access-report">
              <p>{{ content.field_faq_category.3['#title'] }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endblock %}
</div>
