{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set tidIndex = rows|keys|first %}
{% set evidenceLearningTid = attribute(rows, tidIndex).content['#row']._entity.field_toolkit.target_id %}
{% if evidenceLearningTid %}
    {% set evidenceLearningTerm = load_tax_term(evidenceLearningTid) %}
    {% set evidenceLearningImg = file_url(evidenceLearningTerm.field_toolkit_img.entity.field_media_image.entity.fileuri) %}
    {% set evidenceLearningCoverAlt = evidenceLearningTerm.field_toolkit_img.entity.field_media_image.alt %}
{% endif %}
<div class="toolkit-body-wrapper" style="background: #edf0f4;">
    <div class="{{ evidenceLearningTerm.name.value|lower|replace(' ', '-') ~ '-content' }}">
        <div class="container">
            <div class="baseline-endline-content-title">{{ title }}</div>
            <div class="global-report-row-wrapper">
                <div class="global-report-row">
                    {% if evidenceLearningImg != '/' %}
                        <div class="image-container">
                            <div>
                                <img src="{{ evidenceLearningImg }}"
                                     alt="{{ evidenceLearningCoverAlt }}" />
                            </div>
                        </div>
                    {% endif %}
                    <div class="global-report-row-content">
                        <div>
                            <h3 class="global-report-row-title">{{ evidenceLearningTerm.name.value }}</h3>
                        </div>
                        <div class="global-report-row-body">
                            {% autoescape false %}
                                <p class="workshop-row-body">{{ evidenceLearningTerm.description.value }}</p>
                            {% endautoescape %}
                        </div>
                        {% for row in rows %}
                            {% set entity = row.content['#row']._entity %}
                            {% set title = entity.title.value %}
                            {% set created_date = entity.created.value | format_date('custom_document_date') %}
                            {% set toolkitLink = path('entity.node.canonical', {'node': entity.nid.value}) %}
                            <div class="file-info-container">
                                <div class="file-info-wrap">
                                    <div class="file-info-title">
                                        <a href="{{ toolkitLink }}"><h2 class="file-info-title">{{ title }}</h2></a>
                                    </div>
                                    <div class="file-info-doc">
                                        {% if entity.field_toolkit_attachment_type.value == 'Document' %}
                                            {% set fileSize = entity.field_toolkit_document.entity.field_media_document.entity.filesize.value/1024 %}
                                            {% set fileExtension = media_file_type(entity.field_toolkit_document.value.0.target_id, 'field_media_document') %}
                                            <span><img class="extension-icon" src="/{{ directory }}/images/icons/{{ fileExtension }}.svg"
                                                       alt={{ fileExtension }}> {{ fileSize|round(1, 'ceil') }}KB</span>
                                        {% endif %}
                                        <span><i class="fa fa-calendar-o pr-1" aria-hidden="true"></i>{{ created_date }}</span>
                                    </div>
                                </div>
                                <div class="button-container">
                                    {% if entity.field_toolkit_attachment_type.value == 'Document' %}

                                        <div>
                                            <i class="fa fa-download"></i>
                                        </div>
                                        {% set document_url = media_file_url(entity.field_toolkit_document.value.0.target_id, 'field_media_document') %}
                                        <span><a class="download-button" href="{{ document_url }}" download>Download</a></span>
                                    {% elseif entity.field_toolkit_attachment_type.value == 'Link' %}
                                        <div>
                                            <i class="fa fa-download"></i>
                                        </div>
                                        <span><a class="download-button" href="{{ entity.field_toolkit_document_link[0].uri }}"
                                                 target="_blank">Download</a></span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
