{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set toolkitPhaseUrl = [
  {
    'url':'/toolkit/inception-phase',
    'block' : 'toolkit_inception_phase'
  },
  {
    'url':'/toolkit/project-design',
    'block' : 'toolkit_project_design'
  },
  {
    'url':'/toolkit/project-implementation',
    'block' : 'toolkit_project_implementation_block'
  },
  {
    'url':'/toolkit/evidence-learning',
    'block' : 'toolkit_evidence_learning'
  }
] %}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% set entity = row.content['#row']._entity %}
  {% set media_url = file_url(entity.field_toolkit_img.entity.field_media_image.entity.fileuri) %}
  <div class="toolkit-header-wrapper">
    <div {{ attributes.addClass(classes) }} class="toolkit-header">
      <div class="container">
        <nav class="toolkit-nav">
          <a href="/toolkit">Introduction</a>
          {% set vocabulary_trees = load_vocabulary_term('toolkit', 1) %}
          {% set nextToolkitPhaseUrl = '' %}
          {% set previousToolkitPhaseUrl = '' %}
          {% for vocabulary_tree in vocabulary_trees %}
            {% set loop_index = loop.index - 1 %}
            {% set active_nav_bar = '' %}
            {% if attribute(toolkitPhaseUrl[loop_index], 'block') == view.current_display %}
              {% set previousToolkitPhaseUrl = toolkitPhaseUrl[loop_index-1]["url"] %}
              {% set nextToolkitPhaseUrl = toolkitPhaseUrl[loop_index+1]["url"] %}
              {% set active_nav_bar = 'active' %}
            {% endif %}
            <a class="{{ active_nav_bar }}" href="{{ attribute(toolkitPhaseUrl[loop_index], 'url') }}">{{ vocabulary_tree.name }}</a>
          {% endfor %}
        </nav>
        {% set active_class = 'toolkit-header-card-left toolkit-header-card-right' %}
        {% if not previousToolkitPhaseUrl and nextToolkitPhaseUrl %}
          {% set active_class = 'toolkit-header-card-right' %}
        {% elseif previousToolkitPhaseUrl and not nextToolkitPhaseUrl %}
          {% set active_class = 'toolkit-header-card-left' %}
        {% endif %}
        {% set row_classes = [
          default_row_class ? 'views-row', '', 'toolkit-header-card', active_class,
        ] %}
        <div{{ row.attributes.addClass(row_classes) }}>
          {% if previousToolkitPhaseUrl %}
            <div class="card-button card-button-left">
              <a href="{{ previousToolkitPhaseUrl }}"><i class="ion-android-arrow-back"></i></a>
            </div>
          {% endif %}
          {{- row.content -}}
          {% if nextToolkitPhaseUrl %}
            <div class="card-button card-button-right">
              <a href="{{ nextToolkitPhaseUrl }}"><i class="ion-android-arrow-forward"></i></a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% if not logged_in %}
  <div class="container">
    <div class="text-center mt-5 mb-5">
      {{ drupal_entity('block_content', 19) }}
    </div>
  </div>
{% endif %}
