{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if logged_in %}
<div class="toolkit-body-wrapper">
    <div class="container">
        <div class="baseline-endline-content">
            <div class="baseline-endline-content-title">{% trans %}Workshop{% endtrans %}</div>
            <div class="global-report-row-wrapper">
                <div class="global-report-row">
                    {% if title %}
                    {% set projectImplementationTid = rows.0.content['#row']._entity.field_toolkit.target_id %}
                    {% set projectImplementationTerm = load_tax_term(projectImplementationTid) %}
                    {% set projectImplementationCoverImg = file_url(projectImplementationTerm.field_toolkit_img.entity.field_media_image.entity.fileuri) %}
                    {% set projectImplementationCoverAlt = projectImplementationTerm.field_toolkit_img.entity.field_media_image.alt %}
                    {% if projectImplementationCoverImg != '/' %}
                        <div class="image-container">
                            <div>
                                <img src="{{ projectImplementationCoverImg }}"
                                     alt="{{ projectImplementationCoverAlt }}">
                            </div>
                        </div>
                    {% endif %}
                    <div class="global-report-row-content">
                        <div>
                            <div class="global-report-row-title">{{ title }}</div>
                            <div class="global-report-row-body">
                                <p class="workshop-row-body">
                                    {% autoescape false %}
                                        {{ projectImplementationTerm.description.value }}
                                    {% endautoescape %}
                                </p>
                            </div>
                            {% endif %}
                            {% for row in rows %}
                                <div class="file-info-container">
                                    {% set entity = row.content['#row']._entity %}
                                    {% set title = entity.title.value %}
                                    {% set created_date = entity.created.value | format_date('custom_document_date') %}
                                    {% set toolkitLink = path('entity.node.canonical', {'node': entity.nid.value}) %}
                                    <div class="file-info-wrap">
                                        <div class="file-info-title">
                                            <a href="{{ toolkitLink }}">{{ title }}</a>
                                        </div>
                                        <div class="file-info-doc">
                                            {% if entity.field_toolkit_attachment_type.value == 'Document' %}
                                                {% set fileSize = entity.field_toolkit_document.entity.field_media_document.entity.filesize.value/1024 %}
                                                {% set fileExtension = media_file_type(entity.field_toolkit_document.value.0.target_id, 'field_media_document') %}
                                                <span>
                                                  {% set fileExtension = fileExtension['iconExist'] ? fileExtension['ext'] : 'file' %}
                                                    <img class="extension-icon" src="/{{ directory }}/images/icons/{{ fileExtension }}.svg"
                                                         alt={{ fileExtension }}>
                                                    {{ fileSize|round(1, 'ceil') }}KB</span>
                                            {% endif %}
                                            <span><i class="fa fa-calendar-o pr-1" aria-hidden="true"></i>
                                                {{ created_date }}</span>
                                        </div>
                                    </div>
                                    <div class="button-container">
                                        {% if entity.field_toolkit_attachment_type.value == 'Document' %}
                                            <div>
                                                <a href="{{ document_url }}" download><i class="fa fa-download"></i></a>
                                            </div>
                                            {% set document_url = media_file_url(entity.field_toolkit_document.value.0.target_id, 'field_media_document') %}
                                            <span><a class="download-button" href="{{ document_url }}" download>Download</a></span>
                                        {% elseif entity.field_toolkit_attachment_type.value == 'Link' %}
                                            <div>
                                                <a href="{{ entity.field_toolkit_document_link[0].uri }}" target="_blank"><i class="fa fa-download"></i></a>
                                            </div>
                                            <span><a class="download-button" href="{{ entity.field_toolkit_document_link[0].uri }}" target="_blank">Download</a></span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-slide-content">
        <div class="container">
            <h1 class="testimonial-slide-content-title">Testimonials from Field Staff</h1>
            <div id="toolkitTestimonialSlide" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% set testimonials = drupal_view_result('testimonial','block_1') %}
                    {% for testimonial in testimonials %}
                        {% set testimonial_entity = testimonial._entity %}
                        <div class="carousel-item">
                            <img class="quote-image" src="/{{ directory }}/images/icons/testimonial-bg.svg" alt="quote" />
                            <div class="testimonial-card">
                                <div class="testimonial-title">
                                    {{ testimonial_entity.field_testimonial_region.entity.name.value }}
                                </div>
                                <div class="testimonial-body">
                                    {% autoescape false %}
                                        {{ testimonial_entity.body.value }}
                                    {% endautoescape %}
                                </div>
                                <div class="testimonial-source">
                                    {{ testimonial_entity.field_testimonial_position.value }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="control-left" href="#toolkitTestimonialSlide" role="button" data-slide="prev">
                    <i class="ion-android-arrow-back"></i>
                </a>
                <a class="control-right" href="#toolkitTestimonialSlide" role="button" data-slide="next">
                    <i class="ion-android-arrow-forward"></i>
                </a>
                <ul id="toolkitTestimonialSlideIndicator" class="carousel-indicators">
                    {% for testimonial in testimonials %}
                        <li class="item-indicator" data-target="#toolkitTestimonialSlide" data-slide-to="{{ loop.index-1 }}"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
