{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="toolkit-body-wrapper py-5 my-5">
  <div class="container">
    <div class="workshop-content">
     <div class="workshop-title">Workshop</div>
      <div class="workshop-row-wrapper pt-5 px-4">
        <div class="workshop-row row mb-5">
          {% if title %}
          {% set projectImplementationTid = rows.0.content['#row']._entity.field_toolkit.target_id %}
            {% set projectImplementationTerm = load_tax_term(projectImplementationTid) %}
            {% set projectImplementationCoverImg = file_url(projectImplementationTerm.field_toolkit_img.entity.field_media_image.entity.fileuri) %}
            {% set projectImplementationCoverAlt = projectImplementationTerm.field_toolkit_img.entity.field_media_image.alt %}
          <img class="col-sm-12 col-md-12 col-lg-5 w-100 p-0 image-container" src="{{ projectImplementationCoverImg }}" alt="{{ projectImplementationCoverAlt }}">
          <div class="col-sm-12 col-md-12 col-lg-7 workshop-row-content p-5">
            <h3 class="workshop-row-title">{{ title }}</h3>
            <p class="workshop-row-body py-3">
              {% autoescape false %}
                {{ projectImplementationTerm.description.value }}
              {% endautoescape %}
            </p>
            {% endif %}
            {% for row in rows %}
            <div class="row m-2 file-info-container py-2 px-3">
              {% set entity = row.content['#row']._entity %}
              {% set title = entity.title.value %}
              {% set created_date = entity.created.value | date('m/d/y') %}
              <div class="col-sm-10">
                <h2 class="file-info-title">{{ title }}</h2>
                <div>
                  <span><i class="fa fa-calendar-o pr-2" aria-hidden="true"></i>{{ created_date }}</span>
                  <span><i class="fa fa-file-text-o pr-2" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="col-sm-2 button-container">
                {% if entity.field_toolkit_attachment_type.value == 'Document' %}
                  {% set fileExtension = media_file_type(entity.field_toolkit_document.value.0.target_id, 'field_media_document') %}
                  <img class="extension-icon mb-2" src="/{{ directory }}/images/icons/{{ fileExtension }}.svg" alt={{ fileExtension }}>
                  {% set document_url = media_file_url(entity.field_toolkit_document.value.0.target_id, 'field_media_document') %}
                  <span><a class="download-button" href="{{ document_url }}" download>Download</a></span>
                {% elseif entity.field_toolkit_attachment_type.value == 'Link' %}
                  <span><a class="download-button" href="{{ entity.field_toolkit_document[0].uri }}" download>Download</a></span>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-slide-content">
      <h1 class="testimonial-slide-content-title mb-4">Testimonials from Field Staff</h1>
      <div id="toolkitTestimonialSlide" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% set testimonials = drupal_view_result('testimonial','block_1') %}
          {% for testimonial in testimonials %}
            {% set testimonial_entity = testimonial._entity %}
            <div class="carousel-item">
              <div class="card my-2">
                <div class="testimonial-title">
                  {{ testimonial_entity.field_testimonial_region.entity.name.value }}
                </div>
                <div class="testimonial-body">
                  {% autoescape false %}
                    {{ testimonial_entity.body.value }}
                  {% endautoescape %}
                </div>
                <div class="testimonial-source">
                  {{ testimonial_entity.field_testimonial_position.value }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <a class="control-left" href="#toolkitTestimonialSlide" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="control-right" href="#toolkitTestimonialSlide" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
        <ul id="toolkitTestimonialSlideIndicator" class="carousel-indicators">
           {% for testimonial in testimonials %}
          <li class="item-indicator" data-target="#toolkitTestimonialSlide" data-slide-to="{{ loop.index-1 }}"></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>