{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set workshop_tools_icons = [
  {'icon': 'pd-stand.svg'},
  {'icon': 'pd-community-engagement.svg'},
  {'icon': 'pd-descrimination.svg'},
  {'icon': 'pd-power.svg'},
  {'icon': 'pd-barriers.svg'},
  {'icon': 'pd-strategy.svg'},
] %}
<div class="container">
  <div class="project-design-container">
    <div class="project-design-info-container">
      {% set workshop_tools_term = load_tax_term(50) %}
      <h2>{{ workshop_tools_term.name.value }}</h2>
      <p>
        {% autoescape false %}
          {{ workshop_tools_term.description.value }}
        {% endautoescape %}
      </p>
    </div>
    <div class="project-design-steps">
      <div class="design-steps">
        <ul>
          {% for workshop_tools_icon in workshop_tools_icons %}
            <li class="step-card-{{ loop.index }}">
              <a href="#card-{{ loop.index }}">
                  <div class="step-card">
                    <img src="/{{ directory }}/images/icons/{{ workshop_tools_icon.icon }}" alt="project-design-workshop-tools-icon">
                  </div>
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="choose-step">Choose a step</div>
      </div>
      <div class="design-steps-detail-wrapper">
        {% set workshop_tools = load_tax_children(50) %}
        {% for workshop_tool in workshop_tools %}
          {% set workshop_tool_title = workshop_tool.name.value %}
          {% set workshop_tool_description = workshop_tool.description.value %}
          {% set loop_index = loop.index - 1 %}
          <div class="design-steps-card" id="card-{{ loop.index }}">
            <div class="design-steps-card-image">
              <img src="/{{ directory }}/images/icons/{{ attribute(workshop_tools_icons[loop_index], 'icon') }}" alt="project-design-workshop-tools-icon">
            </div>
            <div  class="design-steps-content">
              <h3>{{ workshop_tool_title }}</h3>
              <div>
                {% autoescape false %}
                  {{ workshop_tool_description }}
                {% endautoescape %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="toolkit-project-design">
      <div class="toolkit-body-wrapper py-5 my-5">
        <div class="container" {{ attributes.addClass(classes) }}>
          <div class="baseline-endline-content">
              <div class="baseline-endline-content-title">Workshop</div>
            {% for tax_id, project_design_workshops in project_design_workshops %}
            {% set taxonomy_term = load_tax_term(tax_id) %}
            {% set tax_term_cover_img = file_url(taxonomy_term.field_toolkit_img.entity.field_media_image.entity.fileuri) %}
            {% set tax_term_cover_img_alt = taxonomy_term.field_toolkit_img.entity.field_media_image.alt %}
            <div class="global-report-row-wrapper pt-5">
              <div class="global-report-row row mb-5">
                <img class="col-sm-12 col-md-12 col-lg-5 w-100 p-0 image-container" src="{{ tax_term_cover_img }}" alt="{{ tax_term_cover_img_alt }}"/>
                <div class="col-sm-12 col-md-12 col-lg-7 global-report-row-content p-5">
                  <div class="global-report-row-title">{{ taxonomy_term.name.value }}</div>
                  <div class="global-report-row-body py-3">
                    {% autoescape false %}
                    {{ taxonomy_term.description.value }}
                    {% endautoescape %}
                  </div>
                  {% for project_design_workshop in project_design_workshops %}
                  {% set project_design_workshop_description = project_design_workshop.description %}
                  <div class="row file-info-container py-2 px-3">
                    <div class="col-sm-10">
                      <div class="file-info-title">{{ project_design_workshop.title }}</div>
                      <div>
                        <span class="pr-2"><i class="fa fa-calendar-o pr-2" aria-hidden="true"></i>{{ project_design_workshop.created_date }}</span>
                        <span><i class="fa fa-file-text-o pr-2" aria-hidden="true"></i>{{ project_design_workshop.document.size }}KB</span>
                      </div>
                    </div>
                    <div class="col-sm-2 button-container">
                      {% set fileExtension = project_design_workshop.document.type|split('/')[1] %}
                      <img src="/{{ directory }}/images/icons/{{ fileExtension }}.svg" alt={{ fileExtension }}/>
                      {% if workshop.document_link %}
                      <a class="download-button" href="{{ project_design_workshop.document_link }}">
                        Download
                      </a>
                      {% else %}
                      <a class="download-button" href="{{ project_design_workshop.document.url }}">
                        Download
                      </a>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




