{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
  'report-item-wrapper',
] %}
<article{{ attributes.addClass(classes) }}>
  {% if node.field_report_image.value %}
    <div class="report-item-banner">
      <img src="{{ file_url(node.field_report_image.entity.field_media_image.entity.fileuri) }}"
           alt="{{ node.field_report_image.entity.field_media_image.alt }}">
    </div>
  {% endif %}
  {% set countryCode = node.field_report_country.value|lower %}
  <div class="container">
    <div class="report-item-nav-container">
      <div class="nav-image-container">
        <p>Reports</p>
        <i class="fa fa-list-alt"></i>
      </div>
      <div class="report-item-nav">
        <span><a href="/reports">Reports</a></span>
        <i class="fa fa-angle-right"></i>
        <span><a href="/reports/global">Countries</a></span>
        <i class="fa fa-angle-right"></i>
        {% if countryCode %}
          <span><a
              href="/reports/country/{{ countryCode }}">{{ country_name(countryCode) }}</a></span>
          <i class="fa fa-angle-right"></i>
        {% endif %}
        <span class="end-nav-item"><a href="{{ url }}">{{ label }}</a></span>
      </div>
    </div>
    <div class="report-item-title">
      {{ title_prefix }}
      {% if label %}
        <h2{{ title_attributes.addClass('node__title') }}>
          {{ label }}
        </h2>
      {% endif %}
      {{ title_suffix }}
    </div>
    <hr class="hr-report-item"/>
    <div class="report-item-social-media-wrapper">
      {% if display_submitted %}
        {% block submitted %}
          {% set createdDate = node.getCreatedTime|format_date('custom_content_date') %}
          <div class="date">
            <p>{{ createdDate }}</p>
          </div>
        {% endblock %}
        {{ metadata }}
      {% endif %}
      <div class="social-media">
        {{ content.addtoany }}
      </div>
    </div>
    <hr class="hr-report-item"/>
  </div>
  <div class="container my-5">
    <div class="report-item-info">
      {{ title_prefix }}
      {% if label %}
        <h3{{ title_attributes.addClass('node__title') }}>
          {{ label }}
        </h3>
      {% endif %}
      {{ title_suffix }}
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content.body }}
      </div>
      <div class="row mt-5 file-info-container py-3 px-3">
        {% if node.field_attachment_type.value == 'Document' %}
          {% set fileExtension = media_file_type(node.field_report_document.0.target_id, 'field_media_document') %}
          {% set document_url = media_file_url(node.field_report_document.value.0.target_id, 'field_media_document') %}
          {% set fileSize = node.field_report_document.entity.field_media_document.entity.filesize.value/1024 %}
          <div class="col-sm-10">
            <h2 class="file-info-title">{{ node.field_report_doc_description.value }}</h2>
            <div>
              <span class="mr-3">
                <i class="fa fa-calendar-o pr-2" aria-hidden="true"></i>
                {{ node.field_report_document.entity.created.value|format_date('custom_document_date') }}
              </span>
              <span><i class="fa fa-file-text-o pr-2" aria-hidden="true"></i>{{ fileSize|round(1, 'ceil') }}KB</span>
            </div>
          </div>
          <div class="col-sm-2 button-container">
            <img class="extension-icon mb-2" src="/{{ directory }}/images/icons/{{ fileExtension }}.svg"
                 alt="{{ fileExtension }}">
            <span><a class="download-button" href="{{ document_url }}" download>Download</a></span>
          </div>
        {% elseif node.field_attachment_type.value == 'Link' %}
          <div class="col-sm-10">
            <h2 class="file-info-title">{{ node.field_report_link[0].title }}</h2>
            <div>
              <span class="mr-3">
                <i class="fa fa-calendar-o pr-2" aria-hidden="true"></i>
                {{ node.field_report_link.entity.created.value|format_date('custom_document_date') }}
              </span>
            </div>
          </div>
          <div class="col-sm-2 button-container">
            <i class="fa fa-external-link"></i>
            <span>
              <a class="download-button" href="{{ node.field_report_link[0].uri }}" target="_blank">
                Download
              </a>
            </span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center my-5">
    {% set faqBlock = drupal_entity('block_content', 18) %}
    {% set faqDescription = faqBlock.body %}
    {% set faqCategories = faqBlock.field_faq_category %}
    <div class="my-5 faq-header-card col-lg-11">
      <h2 class="faq-header-card-title" {{ title_attributes }}>
        {% trans %}Frequently Asked Questions{% endtrans %}
      </h2>
      <div class="faq-header-card-description pb-3">
        {{ faqDescription }}
      </div>
      <div class="row faq-category-container">
        <a href="/faq#faq-1" class="m-2 faq-category-content faq-project-overview">
          <img class="faq-category-content-img" src="/{{ directory }}/images/icons/faq-project.svg"
               alt="faq-project-overview">
          <p>{{ faqCategories.0['#title'] }}</p>
          <i class="fa fa-arrow-down"></i>
        </a>
        <a href="/faq#faq-2" class="m-2 faq-category-content faq-methodology">
          <img class="faq-category-content-img" src="/{{ directory }}/images/icons/faq-project.svg"
               alt="faq-methodology">
          <p>{{ faqCategories.1['#title'] }}</p>
          <i class="fa fa-arrow-down"></i>
        </a>
        <a href="/faq#faq-3" class="m-2 faq-category-content faq-project-implementation">
          <img class="faq-category-content-img" src="/{{ directory }}/images/icons/faq-toolkit.svg"
               alt="faq-project-implementation">
          <p>{{ faqCategories.2['#title'] }}</p>
          <i class="fa fa-arrow-down"></i>
        </a>
        <a href="/faq#faq-4" class="m-2 faq-category-content faq-access-report">
          <img class="faq-category-content-img" src="/{{ directory }}/images/icons/faq-access-report.svg"
               alt="faq-access-report">
          <p>{{ faqCategories.3['#title'] }}</p>
          <i class="fa fa-arrow-down"></i>
        </a>
      </div>
    </div>
  </div>
</article>
