{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}
{% set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'toolkit-item-wrapper',
] %}
{% set toolkitLink = {
    '7' : path('page_manager.page_view_evidence_learning_evidence_learning-panels_variant-0'),
    '9': path('page_manager.page_view_toolkit_inception_phase_toolkit_inception_phase-panels_variant-0'),
    '11': path('page_manager.page_view_toolkit_project_design_toolkit_project_design-panels_variant-0'),
    '12': path('page_manager.page_view_toolkit_project_implementation__toolkit_project_implementation_-panels_variant-0')
} %}
{% set tid = node.field_toolkit.entity.parent.entity.parent.entity.tid.value %}
<article{{ attributes.addClass(classes) }}>
  {% if logged_in %}
    {#<div class="toolkit-item-banner">#}
    {#{% if node.field_toolkit_cover_img.value %}#}
    {#<img src="{{ file_url(node.field_toolkit_cover_img.entity.field_media_image.entity.fileuri) }}"#}
    {#alt="{{ node.field_toolkit_cover_img.entity.field_media_image.alt }}">#}
    {#{% endif %}#}
    {#</div>#}
    <div class="container">
        <div class="toolkit-item-nav-container">
            <div class="nav-image-container">
                <p>
                    {% trans %}
                        Toolkit
                    {% endtrans %}
                </p>
                <img src="/{{ directory }}/images/icons/faq-toolkit.svg" alt="toolkit-item" />
            </div>
            <div class="toolkit-item-nav">
                <span><a href="/toolkit">{% trans %}Toolkit{% endtrans %}</a></span>
                <i class="fa fa-angle-right"></i>
                <span>
          <a href="{{ toolkitLink[tid] }}">
            {{ node.field_toolkit.entity.parent.entity.parent.entity.name.value }}
          </a>
        </span>
                <i class="fa fa-angle-right"></i>
                <span class="end-nav-item"><a href="{{ url }}">{{ label }}</a></span>
            </div>
        </div>
        <div class="toolkit-item-title">
            {% if node.field_tags.value %}
                <div class="news-wrapper">
                    <div class="news-button">
                        {{ content.field_tags }}
                    </div>
                </div>
            {% endif %}
            {{ title_prefix }}
            {% if label %}
                <h2{{ title_attributes.addClass('node__title') }}>
                    {{ label }}
                </h2>
            {% endif %}
            {{ title_suffix }}
        </div>
        <div class="toolkit-item-social-media-wrapper">
            {% if display_submitted %}
                {% block submitted %}
                    {% set createdDate = node.getCreatedTime|format_date('custom_content_date') %}
                    <div class="date">
                        <p>{{ createdDate }}</p>
                    </div>
                {% endblock %}
                {{ metadata }}
            {% endif %}
            <div class="social-media">
                {{ content.addtoany }}
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="toolkit-item-info">
            <div class="toolkit-item-info-body pb-4" {{ content_attributes.addClass('node__content', 'clearfix') }}>
                {{ content.body }}
            </div>
            {% if node.field_toolkit_attachment_type.value == 'Document' %}
                {% for document in node.field_toolkit_document %}
                    {% set fileExtension = media_file_type(document.target_id, 'field_media_document') %}
                    {% set fileExtension = fileExtension['iconExist'] ? fileExtension['ext'] : 'file' %}
                    {% set document_url = media_file_url(document.target_id, 'field_media_document') %}
                    {% set fileSize = document.entity.field_media_document.entity.filesize.value/1024 %}
                    <div class="file-info-container">
                        <div class="file-info-wrap">
                            <div class="file-info-title">
                                <h2>{{ label }}</h2>
                            </div>

                            <div class="file-info-doc">
                                <span>
                                  <img class="extension-icon mb-1" src="/{{ directory }}/images/icons/{{ fileExtension }}.svg"
                                       alt="{{ fileExtension }}">
                                  {{ fileSize|round(1, 'ceil') }}KB
                                </span>

                                <span>
                                  <i class="fa fa-calendar-o pr-1" aria-hidden="true"></i>
                                  {{ document.entity.created.value|format_date('custom_document_date') }}
                                </span>
                            </div>
                        </div>
                        <div class="button-container file--public"
                             data-file-id="{{ node.field_toolkit_document.entity.field_media_document.0.target_id }}"
                             data-entity-id="{{ node.nid.value }}"
                             data-entity-type="{{ node.entityTypeId }}">
                          <a class="download-button" href="{{ document_url }}">
                            <span><i class="fa fa-download"></i></span>
                            Download
                          </a>
                        </div>
                    </div>
                {% endfor %}
            {% elseif node.field_toolkit_attachment_type.value == 'Link' %}
                {% for documentLink in node.field_toolkit_document_link %}
                    <div class="file-info-container">
                        <div class="file-info-wrap">
                            <div class="file-info-title">
                                <h2>{{ label }}</h2>
                            </div>

                            <div class="file-info-doc">
                                <span><i class="fa fa-calendar-o pr-1" aria-hidden="true"></i>
                                    {{ documentLink.entity.created.value|format_date('custom_document_date') }}</span>
                            </div>
                        </div>

                        <div class="button-container">
                            <a class="download-button" href="{{ documentLink.uri }}" target="_blank">
                                <span><i class="fa fa-download"></i></span> Download</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
  {% endif %}
  {% if not logged_in %}
    <div class="container">
      <div class="text-center mt-5 mb-5">
        {{ drupal_entity('block_content', 19) }}
      </div>
    </div>
  {% endif %}
  <div class="toolkit-item-faq">
        <div class="container d-flex justify-content-center">
            {% set faqBlock = drupal_entity('block_content', 18) %}
            {% set faqDescription = faqBlock.body %}
            {% set faqCategories = faqBlock.field_faq_category %}
            <div class="faq-header-card">
                <h2 class="faq-header-card-title" {{ title_attributes }}>
                    {% trans %}Frequently Asked Questions{% endtrans %}
                </h2>
                <div class="faq-header-card-description">
                    {{ faqDescription }}
                </div>
                <div class="row faq-category-container">
                    <a href="/faq#faq-1" class="faq-category-content faq-project-overview">
                        <img class="faq-category-content-img" src="/{{ directory }}/images/icons/faq-project.svg"
                             alt="faq-project-overview">
                        <p>{{ faqCategories.0['#title'] }}</p>
                        <span class="arrow"><i class="fa fa-arrow-down"></i></span>
                    </a>
                    <a href="/faq#faq-2" class="faq-category-content faq-methodology">
                        <img class="faq-category-content-img" src="/{{ directory }}/images/icons/faq-project.svg"
                             alt="faq-methodology">
                        <p>{{ faqCategories.1['#title'] }}</p>
                        <span class="arrow"><i class="fa fa-arrow-down"></i></span>
                    </a>
                    <a href="/faq#faq-3" class="faq-category-content faq-project-implementation">
                        <img class="faq-category-content-img" src="/{{ directory }}/images/icons/faq-toolkit.svg"
                             alt="faq-project-implementation">
                        <p>{{ faqCategories.2['#title'] }}</p>
                        <span class="arrow"><i class="fa fa-arrow-down"></i></span>
                    </a>
                    <a href="/faq#faq-4" class="faq-category-content faq-access-report">
                        <img class="faq-category-content-img" src="/{{ directory }}/images/icons/faq-access-report.svg"
                             alt="faq-access-report">
                        <p>{{ faqCategories.3['#title'] }}</p>
                        <span class="arrow"><i class="fa fa-arrow-down"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>
