{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set block_id = view.current_display|split('_')[1] %}
<div class="faq-content-container-background py-5" id="faq-{{ block_id }}">
  <div class="container">
    <div class="faq-content-container">
      {% if view.current_display == 'block_1' %}
        <h1 class="faq-content-container-title">FAQ</h1>
      {% endif %}

      {% set faq_class = view.id ~ '-' ~ view.current_display %}
      <div class="faq-content-card col-lg-11 col-md-12 {{ faq_class }}">
        <div class="faq-content-header pb-3 pt-2">
          <div class="faq-content-header-title">{% autoescape false %} {{ view.title }} {% endautoescape %}</div>
        </div>
        <div class="row p-0 m-0">
          <ul class="faq-list-item">
            {% for row in rows %}
              {% set entity = row.content['#row']._entity %}
              {% set field_faq_question = entity.field_faq_question.value %}
              {% set field_faq_answer = entity.field_faq_answer.value %}
              <div class="faq-accrodion-body">
                <div class="faq-accordion">
                  <span class="faq-accordion-dot"><i class="fa fa-circle" aria-hidden="true"></i></span>
                  <span class="px-3 faq-accordion-question"> {{ field_faq_question }} </span>
                  <span class="faq-accordion-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </div>
                <div class="panel">
                  <div class="panel-content">{{ field_faq_answer }}</div>
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
