{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% if logged_in %}
<a href="/resources/add" class="resource-add-button"><i class="ion-android-add"></i></a>
{% endif %}
<div class="highlight-wrapper">
    <div class="container">
        <div class="highlight-container">
            <h2 class="highlight-title">{{ drupal_field('name', 'taxonomy_term', 33) }}</h2>
            <div class="highlight-image-wrapper">
                {% for key,row in rows %}
                <div class="highlight-image-container {{ 'resources-highlights' ~ loop.index }}" >
                    <div>
                        {{ view.style_plugin.getField(key, 'field_resources_media') }}
                        <p>{{ view.style_plugin.getField(key, 'title') }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
