{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<section class="resources-media-wrapper">
  <div class="container">
    <div class="resources-media-container">
      <h2>{{ view.title }}</h2>
      {% if title %}
        <h2>{{ title }}</h2>
      {% endif %}
      <div class="resources-video-wrapper">
        {% for key,row in rows %}
        {% if loop.first %}
        <div class="resources-main-video">
          <div>
            {{ view.style_plugin.getField(key, 'field_resources_media') }}
            <h3>{{ view.style_plugin.getField(key, 'title') }}</h3>
            <p>
              {% if loop.first %}
                {{ view.style_plugin.getField(key, 'body') }}
              {% else %}
                {% set description = entity.body.value |render|striptags %}
                {% autoescape false %}{{ description }}{% endautoescape %}
              {% endif %}
            </p>
            <span>{{ view.style_plugin.getField(key, 'created') }}</span>
          </div>
        </div>
        <div class="resources-video-list">
          {% else %}
            <div>
              <div class="resources-video {{ 'resources-' ~ loop.index }}">
                {{ view.style_plugin.getField(key, 'field_resources_media') }}
                <h3>{{ view.style_plugin.getField(key, 'title') }}</h3>
                <p>
                  {% if loop.first %}
                    {{ view.style_plugin.getField(key, 'body') }}
                  {% else %}
                    {% set description = entity.body.value |render|striptags %}
                    {% autoescape false %}{{ description }}{% endautoescape %}
                  {% endif %}
                </p>
                <span>{{ view.style_plugin.getField(key, 'created') }}</span>
              </div>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
