{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set view_index = rows|keys.0 %}
{% set view_max_index = max(view.result|keys) %}
{% if view_index == 0 %}
<section class="resource-mission-wrapper">
    <div class="container">
        <div class="">
            <div class="resource-mission-container">
                <h2>Key Initiatives</h2>
            </div>
        </div>

        <div class="our-key-container">
            <div class="resource-initiative-container">
                {% set key_initiative_links = drupal_view_result('resources', 'block_2') %}
                {% for key_initiative_link in key_initiative_links %}
                    {% set key_initiative_link_entity = key_initiative_link._entity %}
                    {% set ki_title = key_initiative_link_entity.title.value %}
                    {% set ki_link = key_initiative_link_entity.field_resources_ki_link.uri %}
                    {% if key_initiative_link_entity.field_wid_resources_ki_logo.value %}
                      {% set ki_logo_url = file_url(key_initiative_link_entity.field_wid_resources_ki_logo.entity.field_media_image.entity.fileuri|image_style('thumbnail')) %}
                      {% set ki_logo_alt = key_initiative_link_entity.field_wid_resources_ki_logo.entity.field_media_image.alt %}
                    {% endif %}
                    <div class="resource-initiative-wrapper">
                        <a href="{{ ki_link }}" target="_blank">
                            <div class="resource-initiative-content">
                                <div class="resource-initiative-logo">
                                    {% if key_initiative_link_entity.field_wid_resources_ki_logo.value %}
                                    <div>
                                        <img src="{{ ki_logo_url }}" alt="{{ ki_logo_alt }}">
                                    </div>
                                    {% endif %}
                                    <p>{{ ki_title }}</p>
                                </div>
                                <div class="resource-initiative-arrow">
                                    <i class="ion-android-arrow-forward"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="our-key-content">
                <div class="our-key-group">
                    {% endif %}
                    <div class="our-key-cards">
                        {% if title %}
                            <h2 class="our-key-cards-title">{{ title }}</h2>
                        {% endif %}
                        <div class="card-groups owl-carousel owl-theme">
                            {% for row in rows %}
                                <div class="single-card">
                                    {% set entity = row.content['#row']._entity %}
                                    {% set title = entity.title.value %}
                                    {% set summary = entity.body.value |render|striptags %}
                                    {% set resourceLink = path('entity.node.canonical', {'node': entity.nid.value}) %}
                                    {% if entity.field_resources_media.value %}
                                      {% set media_url = file_url(entity.field_resources_media.entity.field_media_image.entity.fileuri | image_style('large')) %}
                                      {% set media_alt = entity.field_resources_media.entity.field_media_image.alt %}
                                    {% endif %}
                                    <div>
                                        <a href="{{ resourceLink }}">
                                        {% if entity.field_resources_media.value %}
                                          <img src="{{ media_url }}" alt="{{ media_alt }}">
                                        {% endif %}
                                        <h2>{{ title }}</h2>
                                        <p>{% autoescape false %}{{ summary }}{% endautoescape %}</p>
                                        </a>
                                        <div class="download-section">
                                            {# <span class="user-content"><a href="#"><i class="fa fa-user"></i>User Content</a></span> #}
                                            {% if entity.field_resources_attachment_type.value == 'Document' %}
                                                {% set document_url = media_file_url(entity.field_resources_document.value.0.target_id, 'field_media_document') %}
                                                <span class="download">
                                                    <a href="{{ document_url }}" target="_blank">
                                                        <i class="fa fa-download"></i> Download</a>
                                                </span>
                                            {% elseif entity.field_resources_attachment_type.value == 'Link' %}
                                                <span class="download"><a href="{{ entity.field_resources_link[0].uri }}"
                                                                          target="_blank"><i class="fa fa-download"></i> Download</a></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if view_max_index == view_index %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
