{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="container resources-wrapper">
  <div class="resources-media">
    <h1>{{ view.title }}</h1>
    <div class="resources-media-description">
      {{ drupal_field('description', 'taxonomy_term', 28) }}
    </div>
  </div>
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  <div class="row">
    {% for key,row in rows %}
      {% set resources_class = 'resources-' ~ loop.index %}
      {% set row_classes = [
        default_row_class ? 'views-row', 'resource-video', 'card', resources_class,
      ] %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {% set entity = row.content['#row']._entity %}
        <div class="resources-media">
          {{ view.style_plugin.getField(key, 'field_resources_media') }}
        </div>
        <div class="resources-title">
          {{ view.style_plugin.getField(key, 'title') }}
        </div>
        <div class="resources-description">
          {% if loop.first %}
            {{ view.style_plugin.getField(key, 'body') }}
          {% else %}
            {% set description = entity.body.value |render|striptags %}
            {% autoescape false %}{{ description|length > 50 ? description|slice(0, 50) : description }}{% endautoescape %}
          {% endif %}
        </div>
        <div class="resources-created-date">
          {{ view.style_plugin.getField(key, 'created') }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
